.sl_main_content_area_input{
	max-width:900px;
	padding: 0px 30px 30px 10px;
	min-width:300px;
}
.sl_main_title{
	max-width:900px;
	padding: 0px 30px 10px 70px;
	min-width:300px;
}
.sl_gform_manager {
    padding-left: 10%;
    padding-right: 10%;
}

.sl_repayment{
	float:left;
	margin-right:10px;
	border-radius: 5px;
	list-style: none;
	margin-right:1%;
	font-size: initial;
	width: 23%;
	border: 1px solid #00ff54;
	padding:0px 10px ;
}

.sl_b_wrapper_design{
	margin:20px;
	background:;
	padding: 10px 0px;
	border-radius: 10px;
}

.sl_repayment>strong{
	color: #8EFE8D;
}

.sl_repayment_mother{
}

.sl_repayment_amount_subtitle .results{
	width:100%;
	min-height:300px;
}
.sl_mainf{	
	min-width: 200px;
}
.sl_main_content_area_output{
	max-width:40%;
	float:left;
	border:2px solid #00ff54;
	padding:20px;
	height:100%;
	border-radius:5px;
	min-width:300px;
}
.sl_main_content_area{
	width:100%;
}
.sl_repayment_amount{
	color:#0009;
	font-size:40px;
}
.sl_repayment_terms{
	font-size:13px;
	color:#00000080;
}
.sl_repayment_button{
	margin:3px;
}
h1.sl_repayment_amount_subtitle{
	font-siz:30px;
	font-weight:600;
}
.sl_main_title_text{
	padding:15px;
	font-weight:600;
	font-size:18px;
	color:#6c6868;
}

.sl_repayment_amount_subtitle {
    color: gray;
}
.sl_main_title_description{
	padding:0px 0px 35px 0px;
	color:#8c8989e6;
	font-size:13px;
	font-weight:600;
}
.sl_loan_ap_primary_input_feild{
	width:100%; 
}
.sl_loan_ap_primary_title_feild{
	font-size:14px;
	padding-top:15px;
	padding-bottom:5px;
	font-weight:600;
	color:#8c8989e6;
}
textarea.sl_loan_ap_primary_input_feild{
	height:80px;
}
.sl_term_percentage{
	font-weight:600;
	color:#000;
}
.sl_repayment_per_period{
	color:#8c8989e6;
	font-size:12px;
}
.sl_loader{
	display:none;
}
#sl_user_gate_main{
	width:100%;
}
.sl_user_gate{
	width:100%;
}
.sl_user_gate_menu_item{
	padding:15px;
	font-weight:600;
	font-size:20px;
	border:1px solid #8080804d;
	margin:1%;
	cursor:pointer;
	float:left;
	border-radius:3px;
}
.sl_user_gate_menu_item_login{
	
}
#sl_user_gate_signup{
	display:none;
}
#sl_user_gate_signup, #sl_user_gate_login{
	padding:135px 25px;
	border-radius:3px;
}
.sl_email_section, .sl_user_pass{
	border:1px red solid;
	border-radius:5px;
}
.sl_email_section_correction_message, .sl_email_section_user_pass_message{
	color:red;
}
.sl_user_reg_loader{
	display:none;
}
.logout_link{
	float:right;
	color:#8EFE8D;
}
.logout_link >a{
	color:#8EFE8D;
}
.logout_link>a >button{
	background-color: darkcyan;
	margin-left: 20px;
}
td.calculatorwp_sub_title, td.calculatorwp_sub_body{
	border:0px;
}
.calculatorwp_sub_title{
	color: #8EFE8D;
}
.calculatorwp_sub_body{
	color: #808080;
}
#calculatorwp_loan_dash{
	background:white;
	border-radius:5px;
	padding:30px;
}
.logout_link_wrapper{
	min-height:50px;
	border:1px solid #d3d3d39e;
}
#calculatorwp_dash_menu li {
	float:left;
	border-radius:3px;
}
 .calculatorwp_dash_menu li{
	list-style:none !important;
	padding:5px 20px;
	border:1px solid #93aab0;
	margin:2px;
 }
.calculatorwp_dash_menu li a{
	color:#000000b3;
}
table#calculatorwp_loan_dash{
	
}
#calculatorwp_loan_dash>td{
	border-width:0px;
}
td.fwidthtd{
	width:100%;
}
.fwidthtd>b{
	color: gray;
}
.calculatorwp_build_by a{
	font-size:12px;
	color:#8EFE8D;
}
.calculatorwp_build_by_calc{
	width:100%;
}
#sl_repayment_submit_button{
	background: #8EFE8D;
	color: #333;
}
.calculatorwpMessageSubmitButton{
	background-color: gray;
	margin-top: 20px;
}
td.sl_list_single_message{
	border-width:0px;
}
.calculatorwp_main_title_message{
	color:gray;
}
a.sl_menu_item_front_view{
	padding: 5px;
	border: 1.5px solid #8EFE8D;
	margin: 1%;
	cursor: pointer;
	float: left;
	border-radius: 3px;
	color: #8EFE8D;
}
#calculatorwp_dash_content{
	min-height:500px;
	margin:20px;
}
#calculatorwp_dash_menu{
	height: 30px;
}
.sl_list_message_details {
    font-size: 10px;
}

a#sl_proceed_dashboard{
	border: 1px solid #80808066;
	padding: 20px;
	border-radius: 10px;
}
#sl_logplace{
	width:250px;
}
#sl_user_gate_head{
	width:350px;
}
.sl_calc_loader {
    border: 5px solid hsla(0,0%,100%,.64);
    border-top: 10px solid #dbca00e6;
    border-radius: 50%;
    width: 40px;
    animation: spin .8s linear infinite;
	position:related;
	left:50%;
	top:30%;
	display:none;
	z-index:10000000000000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.sl_description{
	font-size:10px;
}
.sl_repayment_amount_subtitle_hide{
	display:none;
}
.calculatorwp_select_a_loan{
	
}
#calculatorwp_select_a_loan{
	border-radius: 5px;
	padding: 5px;
	font-size: 15px;
	width: 100%;
	background-color: #fff;
	border: 1px solid gray;
	padding: 10px 20px;
}
.wp-image-159{
	margin-right:20px;
}
.calculatorwp_see_cool_features{    
	background: #0085ba;
    border-color: #0073aa #006799 #006799;
    color: #fff;
    text-decoration: none;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
p.sl_repayment_amount_subtitle{
	float:left;
}
.calculatorwp_input_feild_f{
	min-width:50%;
	height: 35px;
	border-radius: 4px;
	padding: 5px;
	font-size: 16px;
}
p.login-password{
	max-width:200px;
}
.accrue-field-amount{
	display:none;
}
.sl_card-header_top{
	position: fixed;
	top: 23%;
	right: 10px;
	opacity: .8;
	border-radius: 4px !important;
	z-index: 100;
}
.sl_repayment_mother{
	overflow: auto;
	padding: 20px;
	color: darkkhaki;
}
.sl_gform_manager{
	max-width:;
}
.ginput_container >input{
	width:100%  !important;
}
.gform_button {
	border-color: #8EFE8D !important;
	background-color: #8EFE8D !important;
	color:#333;
}
.gfield_label{
	color:gray !important;
}
.sl_note_description{
	font-size:10px;
}
.sl_title_line{
	float: left;
	padding: 10px;
	width: 20%;
}

.sl_title_line_content{
	padding: 8px 20px;
}

.loan_stages td{
	border: 0px white solid;
}
.calculatorwp_title_feild-email{
	overflow: auto;
}
.calculatorwp_input_feild_email{
	width: 60%;
	margin: 5px;
	height: 25px;
}
.validation_message{
	display:none;
}
.sl_shortcode_details{
	font-size: 15px;
	color: #333333f2;
	background: #feffaf;
	padding: 2px 15px;
	border-radius: 3px;
}
.calculatorwp_input_feild,select.calculatorwp_input_feild, .calculatorwp_input_feild_f,.calculatorwp_input_feild_small{
	width: 98%;
	border: 0px solid #ccc !important;
	color: #333 !important;
	border-radius: 5px !important;
	padding: 0px 16.8px !important;
	height: 40px;
	background: #4ce20821 !important;
}
.sl_shortcode_details_l{
	padding:3px;
}
.calculatorwp_textare_input_feild{
	width: 100%;
	height: 100px;
	border-radius: 5px;
	padding: 15px;
	font-size: 16px;
	border: 1px solid #80808050;
}
.calculatorwp_title_feild{
	font-size:14px;
	padding-top:15px;
	padding-bottom:5px;
	color:#444c;
}

/*
.calculatorwp_input{
 border-radius:5px;
 padding:30px;
 margin:20px;
 background:#fff;
}*/
.wrap .calculatorwp_input{
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.calculatorwp_title_feild{
	padding:20px;
}
.calculatorwp_sub_title{
	color: #7f7f7f !important;
}
.calculatorwp_sub_title {
    text-align: left;
	padding: 13px;
	color: #808080b3;
	font-size: 13px;
	line-height: 1.4em;
	background-color: #dedede1f;
	border: 0px;
}
.sl_menu_html{
}
.subsubsub {
    list-style: none;
	margin: 25px 50px 0px auto;
	padding: 0;
	font-size: 13px;
	float: left;
}
.sl_menu_item, .sl_menu_item:hover{
	background-color:#05370699;
	color:#fff;
	padding:15px;
	text-decoration:none;
	border-radius:5px;
}
.cwp_wrap{
	padding: 0px;
	width: 99%;
	border-radius: 0px;
	overflow: auto;
}
#wpfooter {
	position:;
}
.calculatorwp_email_title{
	padding:10px;
}
.email_d{
	padding: 6px;
}

.calculatorwp_title_feild_title{
	float: left;
	width: 25%;

}
.calculatorwp_title_feild_body_right{
	float: left;
}
.calculatorwp_email_wrap{
	border: 0px solid #80808029;
	overflow: auto;
	width: 95%;
	padding: 20px;
	border-radius: 20px;
	background-color: #8ac68d21;
}
.sl_house_keeping_link{
	color: green;
	text-decoration: none;
	border: 0px solid gray;
	padding: 5px 25px;
	border-radius: 0px;
	background-color: #8EFE8D;
	font-size: 14px;
}
.lp_com_header > a:hover{
	color: #333 !important;
}
.sl_house_keeping{
	color: gray;
	text-decoration: none;
	padding: 5px;
	border-radius: ;
	height: 28px;
}
.sl_list_name,.sl_list_single_item{
	color:#333 !important;
}
.lp_com_header > a {
	color:#008b00;
}

.php-error #adminmenuback, .php-error #adminmenuwrap {
	margin-top: 0em !important;
}

#calculatorwp_application, #calculatorwp_more_info, #calculatorwp_processed, #calculatorwp_repayment, #calculatorwp_close{
	width: 80%;
	padding: 10px 15px;
	float: left;
	background: #00b3001f;
	color: #00b300;
	border-radius: 0px;
	border: 0px solid #80808000;
	margin-bottom: 2px;
	margin-left: 11px;
}
.sl_stat_flow_description{
	font-size:16px;
	padding-top:40px;
}
.mainstats_name{
	width:100%;
}
.sl_stat_flow_description_main{
	font-size:;
}
.sl_activity_log{
	padding: 15px 20px;
	width: 95%;
	font-size: 15px;
	background: #fff;
	color: #323232;
	margin-bottom: 2px;
}
.calculatorwp_log_list{
	background: ##06f1111f;
	padding: 20px 10px;
	overflow: auto;
	border-radius: 5px;
}
.cpw_sl_paginate_dash{
	margin-top: 20px;
	width: 100%;
}
.subsubsub_a {
	line-height: 2;
	padding: 7px 29px !important;
	text-decoration: none;
	color: #fff;
	background: #424040;
	border: 0px solid #04a6ae00;
	margin-left: 8px;
	border-radius: 20px;
}
.sl_whatsup{
	color: #00ff54;
	padding-left: 19px;
	margin-top: 30px;
}

.calculatorwp_main_title{
	color: #494949;
	padding: 15px 35px;
	margin: 0px 0px 5px auto;
	border: 0px #808080e0 solid;
}

.calculatorwp_main_title_shortcode{
	border-radius: 0px;
	background: #c7ff0014;
}
.add-new-h2{
	background: #8EFE8D !important;
	color: #333 !important;
	padding: 10px 15px !important;
}
.lp_right_a{
	float: right !important;
}
h3.calculatorwp_main_title{
	font-size: 1.2em;
}
.calculatorwp_flow_stats{
	border: 0px #8a8a8a2b solid;
	border-radius: 3px;
	padding: 0px;
	padding-top: 0px;
	background: #fff;
	margin-top: 20px;
	float: left;
	width: 258px;
	height: 1125px;
	padding-top: 19px;
}
.calculatorwp_flow_stats_intro{
	width:100%;
}
.calculatorwp_application_top, .calculatorwp_close_top, .calculatorwp_repayment_top, .calculatorwp_adedcline_top, .calculatorwp_minfore_top{
	background: #323232e5;
	color: #fff;
	border: 1px solid #feffaf;
	padding: 8px 25px;
	border-radius: 0px;
	cursor: pointer;
}
.calculatorwp_application_top_a{
	color:#fff !important;
	text-decoration:none;
	font-size: 14px;
}
.loan_transactions_link{
	float:right;
}
.sl_dash_link{
	min-height:40px;
	float:left;
	color:#fff;
	padding:30px;
	font-size:30px;
	min-width:18%;
}
#calculatorwp_process_sumary{}
#calculatorwp_more_info{}
#calculatorwp_approved{}
#calculatorwp_Declined{}

.calculatorwp_title_feild{
	padding: 15px !important;
	max-width: 80px !important;
	color: #333333e8;
	border-radius: 5px;
}

.cwp_coms_wrap_outer{
	padding: 30px;
	border: 0px solid #d3d3d396;
}

.calculatorwp_list_table{
	/*padding: 30px 20px;
	border: 0px solid #c4c2c23d !important;*/
	border-radius: 0px;
}

.calculatorwp_menu_html{
	margin-left:25px;
	margin-top:40px;
}
.calculatorwp_menu_item_active, .sl_menu_item:hover{
	background-color:#05370699;
	color:#fff;
	padding:10px;
	text-decoration:none;
	border-radius:2px;
}
.calculatorwp_menu_item, .sl_menu_item:hover{
	background-color:gray;
	color:#fff;
	padding:4px 10px;
	text-decoration:none;
	border-radius:2px;
}
.calculatorwp_house_keeping{
	width: 100px;
}
.calculatorwp_list_name{
	font-weight:600;
	color:#444c;
}
.calculatorwp_list_table{
	width: 100%;
	margin-bottom: 30px;
	background: #fff;
}
.calculatorwp_dash_link{
	min-height:40px;
	float:left;
	color:#fff;
	padding:30px;
	font-size:30px;
	min-width:18%;
}
.calculatorwp_add_node{
	padding: 10px 15px;
	border-radius: 15px;
	background: #8EFE8D;
	border: 0px solid coral;
	color: #333;
}
.calculatorwp_close_recipient_class, .calculatorwp_close_url_class, .calculatorwp_close_args_class{
	cursor:pointer;
}
.calculatorwp_menu_item_a{
	padding:20px;
	color:#fff;
	text-decoration:none;
}
#calculatorwp_webhook_input{
	
}

#calculatorwp_webhook_tags{
	float:left;	
	padding:60px 50px;
	background:#fff;
	margin-top:20px;
	border-radius:5px;
}

#calculatorwp_webhook_input{
	float:left;	
	padding:30px;
	min-width:60%;
}
.calculatorwp_post_tags {
	display:none;
}
#right_calculatorwp_menu_item{
	float:right !important;
}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  box-shadow: none;
}
#final input[type=submit]{
	padding:4px 30px;
	border-radius:5px;
	background-color:#05370699;
	color:#fff;
	border:0px;
 }
 code:active {
	 border:1px red solid;
 }
 div#calculatorwp_dash_menu{
	float:left;
	width:30%;
}
.sl_list_single_message{
	padding: 10px 35px;
	width: 100%;
	border-top: 1px solid #8080801a;
}
.sl_list_message_details{
	font-size: 10px;
	background: #adff2f3d;
	padding: 4px 15px;
	border-radius: 2px;
}
.sl_list_single_message{
	margin-bottom: 10px ;
}
#calculatorwpMessageSubmitButton{
	background: #02b301;
	color: #fff;
	border: 0px SOLID ORANGE;
	padding: 10px 25px;
	border-radius: 05px;
	margin: 15px;
	cursor: pointer;
	border: 0px solid;
	color: #fff;
}
.sl_menu_sub_item{
	background: #feffaf;
	color: #333;
	border: 1px solid #feffaf;
	padding: 10px 25px;
	border-radius: 0px;
	cursor: pointer;
	margin-bottom: 20px;
	float: right;
	margin-right: 20px;
}
#calculatorwp_dash_content{
	border:1px #93aab0 solid;
}
.sl_house_keeping{
	color:#69686866;
}
.sl_list_single_item{
	padding: 10px 20px;
	height: 10px;
	border-bottom: 0px solid #ccc3;
	background: #fff;
	border-radius: 5px;
}
.calculatorwp_input_feild_small{
	float:left;
	height: 28px;
	border-radius: 4px;
	padding: 5px;
	font-size: 16px;
}
.sl_submit_button{
	width: 30%;
	background: #02b301;
	color: #fff;
	border: 0px SOLID ORANGE;
	padding: 10px;
	border-radius: 5px;
	margin-top: 30px;
	cursor: pointer;
	border: 0px solid;
	color: #fff;
}
.calculatorwp_ns_single{
	padding: 10px 20px;
	margin: 2px;
	background: #14ff000f;
	border-radius: 0px;
	float: left;
	color: #038803;
}
.lp_com_header{
	background-color: #8EFE8D;
	color: #333;
	float: right;
	margin: 5px 0px 5px 11px !important;
	border: 0px solid #b2b3b233;
	padding: 5px 25px !important;
	border-radius: 0px;
	cursor: pointer;
}
.lp_com_top_parent{
	float: right !important;
	margin: 25px 30px auto !important;
}
#calculatorwp_mailchimp_api_key{
	border-radius: 30px;
	padding: 0px 20px !important;
	border: 0px;
}
#wpbody-calculator {
	padding-bottom: 65px;
	float: left;
	overflow: visible;
	background: #fff!important;
	width: 95% !important;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 8px 0 rgb(151 151 151 / 10%), 0 6px 10px 0 rgb(118 118 118 / 10%) !important;
	margin-top: 30px;
}
table.widefat{
	border: 1px solid #959595 !important;
	border-radius: 10px;
}
.cwp_borrower_wrapper{
	background-color:;
	margin-top: 10px;
	border-radius: 0px;
	border: 0px solid #d3d3d396;
}
.calculatorwp_client_acc_edit, .calculatorwp_clientaccount_add, .calculatorwp_clientloans_index, .calculatorwp_clientloans_process, .calculatorwp_clientloans_goal_info, .calculatorwp_clientloans_more_loan_info, .calculatorwp_loansettings_index, .calculatorwp_loansettings_edit{
	background: #fff;
	border-radius: 0px;
	padding: 20px 18px;
	margin-top: 20px;
}
.calculatorwp_title_feild_app{
	font-size: 13px;
}
.calculatorwp_title_feild_app > td{
	padding: 10px 15px;
	border: 0px solid #80808069;
	background:;
}
