.sl_main_content_area_input{
	max-width:900px;
	padding: 0px 30px 30px 10px;
	min-width:300px;
}
.sl_main_title{
	max-width:900px;
	padding: 0px 30px 10px 70px;
	min-width:300px;
}
.sl_gform_manager {
    padding-left: 10%;
    padding-right: 10%;
}
.calculatorwp_title_feild > td{
	padding: 13px 30px 0px 10px;
	border: px solid gray;
}
.sl_repayment{
	float:left;
	margin-right:10px;
	border-radius: 5px;
	list-style: none;
	margin-right:1%;
	font-size: initial;
	width: 23%;
	border: 1px solid #00ff54;
	padding:0px 10px ;
}

.sl_b_wrapper_design{
	margin: 20px 25px 0px 10px;
	background: #fff;
	padding: 0px;
	border-radius: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sl_repayment>strong{
	color: #8EFE8D;
}

.sl_repayment_mother{
}

.sl_repayment_amount_subtitle .results{
	width:100%;
	min-height:300px;
}
.sl_mainf{	
	min-width: 200px;
}
.sl_main_content_area_output{
	max-width:40%;
	float:left;
	border:2px solid #00ff54;
	padding:20px;
	height:100%;
	border-radius:5px;
	min-width:300px;
}
.sl_main_content_area{
	width:100%;
}
.sl_repayment_amount{
	color:#0009;
	font-size:40px;
}
.sl_repayment_terms{
	font-size:13px;
	color:#00000080;
}
.sl_repayment_button{
	margin:3px;
}
h1.sl_repayment_amount_subtitle{
	font-siz:30px;
	font-weight:600;
}
.sl_main_title_text{
	padding:15px;
	font-weight:600;
	font-size:18px;
	color:#6c6868;
}

.sl_repayment_amount_subtitle {
    color: gray;
}
.sl_main_title_description{
	padding:0px 0px 35px 0px;
	color:#8c8989e6;
	font-size:13px;
	font-weight:600;
}
.sl_loan_ap_primary_input_feild{
	width:100%; 
}
.sl_loan_ap_primary_title_feild{
	font-size:14px;
	padding-top:15px;
	padding-bottom:5px;
	font-weight:600;
	color:#8c8989e6;
}
textarea.sl_loan_ap_primary_input_feild{
	height:80px;
}
.sl_term_percentage{
	font-weight:600;
	color:#000;
}
.sl_repayment_per_period{
	color:#8c8989e6;
	font-size:12px;
}
.sl_loader{
	display:none;
}
#sl_user_gate_main{
	width:100%;
}
.sl_user_gate{
	width:100%;
}
.sl_user_gate_menu_item{
	padding:15px;
	font-weight:600;
	font-size:20px;
	border:1px solid #8080804d;
	margin:1%;
	cursor:pointer;
	float:left;
	border-radius:3px;
}
.sl_user_gate_menu_item_login{
	
}
#sl_user_gate_signup{
	display:none;
}
#sl_user_gate_signup, #sl_user_gate_login{
	padding:135px 25px;
	border-radius:3px;
}
.sl_email_section, .sl_user_pass{
	border:1px red solid;
	border-radius:5px;
}
.sl_email_section_correction_message, .sl_email_section_user_pass_message{
	color:red;
}
.sl_user_reg_loader{
	display:none;
}
.logout_link{
	float:right;
	color:#8EFE8D;
}
.logout_link >a{
	color:#8EFE8D;
}
.logout_link>a >button{
	background-color: darkcyan;
	margin-left: 20px;
}
td.calculatorwp_sub_title, td.calculatorwp_sub_body{
	border:0px;
}
.calculatorwp_sub_title{
	color: #8EFE8D;
}
.calculatorwp_sub_body{
	color: #808080;
}
#calculatorwp_loan_dash{
	background:white;
	border-radius:5px;
	padding:30px;
}
.logout_link_wrapper{
	min-height:50px;
	border:1px solid #d3d3d39e;
}
#calculatorwp_dash_menu li {
	float:left;
	border-radius:3px;
}
 .calculatorwp_dash_menu li{
	list-style:none !important;
	padding:5px 20px;
	border:1px solid #93aab0;
	margin:2px;
 }
.calculatorwp_dash_menu li a{
	color:#000000b3;
}
table#calculatorwp_loan_dash{
	
}
#calculatorwp_loan_dash>td{
	border-width:0px;
}
td.fwidthtd{
	width:100%;
}
.fwidthtd>b{
	color: gray;
}
.calculatorwp_build_by a{
	font-size:12px;
	color:#8EFE8D;
}
.calculatorwp_build_by_calc{
	width:100%;
}
#sl_repayment_submit_button{
	background: #8EFE8D;
	color: #333;
}
.calculatorwpMessageSubmitButton{
	background-color: gray;
	margin-top: 20px;
}
td.sl_list_single_message{
	border-width:0px;
}
.calculatorwp_main_title_message{
	color:gray;
}
a.sl_menu_item_front_view{
	padding: 5px;
	border: 1.5px solid #8EFE8D;
	margin: 1%;
	cursor: pointer;
	float: left;
	border-radius: 3px;
	color: #8EFE8D;
}
#calculatorwp_dash_content{
	min-height:500px;
	margin:20px;
}
#calculatorwp_dash_menu{
	height: 30px;
}
.sl_list_message_details {
    font-size: 10px;
}

a#sl_proceed_dashboard{
	border: 1px solid #80808066;
	padding: 20px;
	border-radius: 10px;
}
#sl_logplace{
	width:250px;
}
#sl_user_gate_head{
	width:350px;
}
.sl_calc_loader {
    border: 5px solid hsla(0,0%,100%,.64);
    border-top: 10px solid #dbca00e6;
    border-radius: 50%;
    width: 40px;
    animation: spin .8s linear infinite;
	position:related;
	left:50%;
	top:30%;
	display:none;
	z-index:10000000000000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.sl_description{
	font-size:10px;
}
.sl_repayment_amount_subtitle_hide{
	display:none;
}
.calculatorwp_select_a_loan{
	
}
#calculatorwp_select_a_loan{
	border-radius: 5px;
	padding: 5px;
	font-size: 15px;
	width: 100%;
	background-color: #fff;
	border: 1px solid gray;
	padding: 10px 20px;
}
.wp-image-159{
	margin-right:20px;
}
.calculatorwp_see_cool_features{    
	background: #0085ba;
    border-color: #0073aa #006799 #006799;
    color: #fff;
    text-decoration: none;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}
p.sl_repayment_amount_subtitle{
	float:left;
}
.calculatorwp_input_feild_f{
	min-width:50%;
	height: 35px;
	border-radius: 4px;
	padding: 5px;
	font-size: 16px;
}
p.login-password{
	max-width:200px;
}
.accrue-field-amount{
	display:none;
}
.sl_card-header_top{
	position: fixed;
	top: 23%;
	right: 10px;
	opacity: .8;
	border-radius: 4px !important;
	z-index: 100;
}
.sl_repayment_mother{
	overflow: auto;
	padding: 20px;
	color: darkkhaki;
}
.sl_gform_manager{
	max-width:;
}
.ginput_container >input{
	width:100%  !important;
}
.gform_button {
	border-color: #8EFE8D !important;
	background-color: #8EFE8D !important;
	color:#333;
}
.gfield_label{
	color:gray !important;
}
.sl_details_list_t{
	color:gray;
}
.sl_note_description{
	font-size: 12px;
	overflow: auto;
	margin-top: 10px;
}
.sl_title_line{
	float: left;
	padding: 10px;
	width: 20%;
}
.calculatorwp_submit_wrap{
	background: #8EFE8D !important;
	color: #008b00 !important;
}
.sl_title_line_content{
	padding: 8px 20px;
}
.loan_stages td{
	border: 0px white solid;
}
.calculatorwp_title_feild-email{
	overflow: auto;
	padding: 10px 5px 5px 5px;
	font-weight:400;
}
.calculatorwp_input_feild_email{
	width: 60%;
	margin: 5px;
	height: 25px;
}
.validation_message{
	display:none;
}
.sl_shortcode_details{
	border-radius: 0px;
	padding: 0px 20px;
	font-size: 16px;
	color: #494949;
}
.sl_top_menu_form{
	width: 90%;
	padding: 20px;
}
.sl_form_list_wrap{
	float: right;
	width: 25%;
}
.sl_Save_and_Close{
	float: right;
	background: #2ac613;
	color: #fff;
	padding: 5px 20px;
	border: 0px;
	border-radius: 0px;
	cursor: pointer;
}
.calculatorwp_sub_form_edit_wrap{
	float: left;
	width: 70%;
	background: #ccc1;
	border-radius: 0px;
	padding: 18px;
	display: none;
	border: #ccc8 1px solid;
}
.sl_new_form{
	float: right;
	border: 1px solid #ccc;
	padding: 5px 15px;
	background: #fff;
	margin: 30px;
	color: #2ac613;
	cursor: pointer;
	border-radius: 20px;
}
.get-data, .clear-all, .save-template{
    display:none !important;
}
.sl_editor_area{
	padding: 20px;
	margin: 0px 30px 20px 10px;
}
.calculatorwp_form_name{
	width: 90%;
	margin: 30px 30px 10px 30px;
	border: 1px solid #ccc !important;
	border-radius: 0px !important;
	padding: 5px 20px !important;
}
.sl_open_from_edit_details{
	cursor: pointer;
}
.calculatorwp_input_feild,select.calculatorwp_input_feild, .calculatorwp_input_feild_f,.calculatorwp_input_feild_small{
	width: 95%;
	border: 1px solid #ccc !important;
	color: #595757 !important;
	border-radius: 0px !important;
	padding: 0px 18.8px !important;
	height: 38px;
}
.sl_shortcode_details_l{
	padding: 15px;
}
.calculatorwp_textare_input_feild{
	width: 100%;
	height: 79px;
	border-radius: 0px;
	padding: 8px 18px;
	font-size: 16px;
	border: 1px solid #ccc;
}
.calculatorwp_title_feild{
	font-size:14px;
	padding-top:15px;
	padding-bottom:5px;
	color:#444c;
}
.sl_Manage_Forms{
	background: #2ac613;
	color: #fff;
	padding: 5px 20px;
	border-radius: 0px;
	border: 0px;
	cursor: pointer;
	margin-left: 10px;
}
/*
.calculatorwp_input{
 border-radius:5px;
 padding:30px;
 margin:20px;
 background:#fff;
}*/
.wrap .calculatorwp_input{
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.calculatorwp_title_feild{
	padding:20px;
}
.calculatorwp_sub_title{
	color: #7f7f7f !important;
}
.calculatorwp_sub_title {
    text-align: left;
	padding: 13px;
	color: #808080b3;
	font-size: 13px;
	line-height: 1.4em;
	background-color: #dedede1f;
	border: 0px;
}
.sl_menu_html{
}
.subsubsub {
    list-style: none;
	margin: 25px 50px 0px auto;
	padding: 0;
	font-size: 13px;
	float: left;
}
.sl_menu_item, .sl_menu_item:hover{
	background-color:#05370699;
	color:#fff;
	padding:15px;
	text-decoration:none;
	border-radius:5px;
}
.cwp_wrap{
	overflow: auto;
}
.sl_dash_wrap_d{
	padding: 1px;
	width: 96%;
	border-radius: 0px;
	overflow: auto;
	margin: 20px;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#wpfooter {}
.calculatorwp_email_title{
	padding:10px;
}
.email_d{
	padding: 6px;
}
.sl_manage_from_side_wrap{
	display:none;
}
.calculatorwp_title_feild_title{
	float: left;
	width: 25%;

}
.calculatorwp_title_feild_body_right{
	float: left;
}
.calculatorwp_email_wrap{
	border: 0px solid #80808029;
	overflow: auto;
	width: 95%;
	padding: 20px;
	border-radius: 20px;
	background-color: #8ac68d21;
}
.sl_house_keeping_link{
	color: #06b300;
	text-decoration: none;
	padding: 6.5px 15px;
	border-radius: 10px;
	background-color: #ccc4;
	font-size: 14px;
}
.sl_list_single_item_single{
	padding: 8px 28px;
	font-size: 14px;
}
.sl_list_single_item_button{
	padding: 8px 28px;
	border-radius: 5px;
	background: #323232d4;
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
}
.sl_list_single_item_status{
	color: #323232 ;
}
.lp_com_header > a:hover{
	color: #333 !important;
}
.sl_house_keeping{
	color: gray;
	text-decoration: none;
	padding: 8px;
	border-radius: ;
	height: 28px;
}
.sl_list_name,.sl_list_single_item{
	color: #323232 !important;
	padding: 18px 30px;
	background: #fff;
	border-radius: 38px 8px 8px 8px;
	margin-bottom: 8px;
	border: 0px solid #8882;
	border: 1px solid #9cae98;
}
.sl_table_mortgage_details{
	min-width: 80%;
}
.sl_house_keeping_link:hover {
	color: #fff;
	text-decoration: none;
	border: 0px solid gray;
	padding: 8px 15px;
	border-radius: 0px;
	background-color: #06b300;
}
.sl_select_loanstage{
	border-radius: 0px !important;
	border: 1px solid #c8c8c8ba !important;
	padding: 0px 38px !important;
	float: left;
	margin: 22px 8px;
}
.sm_admin_link:hover {
	background-color: #323232;
	color: #fff;
	padding: 5px 10px;
	border-radius: 0px;
	text-decoration: none;
	margin-left: 10px;
	font-size: 17px;
}
.lp_com_header > a {
	color:#008b00;
}
.php-error #adminmenuback, .php-error #adminmenuwrap {
	margin-top: 0em !important;
}
#calculatorwp_application, #calculatorwp_more_info, #calculatorwp_processed, #calculatorwp_repayment, #calculatorwp_close{
	padding: 20px;
	float: left;
	background: #fff;
	color: #323232;
	border-radius: 15px;
	border: 0px solid #8b898952;
	margin-top: 8px;
	margin-right: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sl_stat_flow_description{
	padding-top:40px;
}
.mainstats_name{
	width:100%;
}
.sl_stat_flow_description_main{
	font-size:;
}
.sl_activity_log{
	padding: 20px;
	width: 96%;
	background: #cccccc29;
	color: #686868;
	margin-bottom: 10px;
	border-radius: 20px;
	border: 1px solid #e1e1e100;
}
.calculatorwp_log_list{
	padding: 20px 20px 20px 25px;
	overflow: auto;
	border-radius: 20px;
	margin-top: 15px;
}
.sl_message_line{
	padding-bottom: 10px;
}
.sl_client_link_dash{
	padding: 6px 15px 6px 10px;
	border-radius: 0px;
	background: #ace9f788;
	color: #5b5b5b;
	margin-top: 8px;
	margin-right: 8px;
}
.cpw_sl_paginate_dash{
	margin-top: 20px;
	width: 100%;
}
.subsubsub_a {
	line-height: 2;
	padding: 7px 29px !important;
	text-decoration: none;
	color: #fff;
	background: #424040;
	border: 0px solid #04a6ae00;
	margin-left: 8px;
	border-radius: 20px;
}
.sl_whatsup{
	color: #00ff54;
	padding-left: 19px;
	margin-top: 30px;
}

.calculatorwp_main_title{
	color: #323232;
	padding: 8px 28px;
	margin: 0px 0px 5px auto;
	border: 0px #808080e0 solid;
	font-weight: 350;
}

.calculatorwp_main_title_shortcode{
	border-radius: 8px;
	background: #c1c4c14d;
	margin-bottom: 28px;
}
.add-new-h2{
	background: #8EFE8D !important;
	color: #333 !important;
	padding: 10px 15px !important;
}
.lp_right_a{
	float: right !important;
}
h3.calculatorwp_main_title{
	font-size:;
}
.calculatorwp_flow_stats{
	border: 0px #8a8a8a2b solid;
	border-radius: 20px;
	margin-top: 20px;
	float: left;
	width: 95%;
	padding: 15px 2% 3px 2%;
}
.sl_open_file_location{
	border: #ccc 1px solid;
	padding: 5px;
	text-decoration: none;
}
.loan_stages{
	background: #fff;
}
.sl_process_body{
	background: #fff;
	margin-top: 10px;
	padding: 20px 20px 50px 20px;
}
.calculatorwp_flow_stats_intro{
	width:100%;
}
.calculatorwp_application_top, .calculatorwp_close_top, .calculatorwp_repayment_top, .calculatorwp_adedcline_top, .calculatorwp_minfore_top{
	background: #fff;
	color: #323232 !important;
	margin-right: 4px;
	padding: 8px 28px;
	border-radius: 0px;
	cursor: pointer;
	display: block;
	float: left;
	border: 1px solid #cfcdcd !important;
}
.calculatorwp_application_top_a{
	color: #00b103 !important;
	text-decoration: none;
}
.loan_transactions_link{
	float:right;
}
.sl_dash_link{
	min-height:40px;
	float:left;
	color:#fff;
	padding:30px;
	font-size:30px;
	min-width:18%;
}
#calculatorwp_process_sumary{}
#calculatorwp_more_info{}
#calculatorwp_approved{}
#calculatorwp_Declined{}

.calculatorwp_title_feild{
	padding: 15px !important;
	color: #333333e8;
	border-radius: 5px;
	width: 180px;
}
.cwp_coms_wrap_outer{
	padding: 30px;
	border: 0px solid #d3d3d396;
	background:#fff;
}

.calculatorwp_list_table{
	/*padding: 30px 20px;
	border: 0px solid #c4c2c23d !important;*/
	border-radius: 0px;
	padding: 20px;
}

.calculatorwp_menu_html{
	margin-left:25px;
	margin-top:40px;
}
.calculatorwp_menu_item_active, .sl_menu_item:hover{
	background-color:#05370699;
	color:#fff;
	padding:10px;
	text-decoration:none;
	border-radius:2px;
}
.calculatorwp_menu_item, .sl_menu_item:hover{
	background-color:gray;
	color:#fff;
	padding:4px 10px;
	text-decoration:none;
	border-radius:2px;
}
.calculatorwp_house_keeping{
	width: 100px;
}
.calculatorwp_list_name{
	font-weight:600;
	color:#444c;
}
.calculatorwp_list_table{
	width: 100%;
	margin-bottom: 30px;
	background: #fff;
}
.calculatorwp_dash_link{
	min-height:40px;
	float:left;
	color:#fff;
	padding:30px;
	font-size:30px;
	min-width:18%;
}
.calculatorwp_add_node{
	padding: 10px 15px;
	border-radius: 15px;
	background: #8EFE8D;
	border: 0px solid coral;
	color: #333;
}
.calculatorwp_close_recipient_class, .calculatorwp_close_url_class, .calculatorwp_close_args_class{
	cursor:pointer;
}
.calculatorwp_menu_item_a{
	padding:20px;
	color:#fff;
	text-decoration:none;
}
#calculatorwp_webhook_input{
	
}

#calculatorwp_webhook_tags{
	float:left;	
	padding:60px 50px;
	background:#fff;
	margin-top:20px;
	border-radius:5px;
}

#calculatorwp_webhook_input{
	float:left;	
	padding:30px;
	min-width:60%;
}
.calculatorwp_post_tags {
	display:none;
}
#right_calculatorwp_menu_item{
	float:right !important;
}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  box-shadow: none;
}
#final input[type=submit]{
	padding:4px 30px;
	border-radius:5px;
	background-color:;
	color:#fff;
	border:0px;
 }
 code:active {
	 border:1px red solid;
 }
 div#calculatorwp_dash_menu{
	float:left;
	width:30%;
}
.sl_list_single_message{
	padding: 10px 35px;
	width: 100%;
	border-top: 1px solid #8080801a;
}
.sl_list_message_details{
	font-size: 10px;
	background: #adff2f3d;
	padding: 4px 15px;
	border-radius: 2px;
}
.sl_list_single_message{
	margin-bottom: 10px ;
}
#calculatorwpMessageSubmitButton{
	background: #323232;
	padding: 8px 20px;
	border-radius: 0px;
	margin: 12px;
	cursor: pointer;
	border: 0px solid;
	color: #fff;
}
.sl_menu_sub_item{
	background: #8881;
	color: #323232;
	border: 1px solid #8888;
	padding: 8px 20px;
	border-radius: 0px;
	cursor: pointer;
	margin-bottom: 20px;
	float: right;
	margin-right: 18px;
	text-decoration: none;
}
#calculatorwp_dash_content{
	border:1px #93aab0 solid;
}
.sl_house_keeping{
	color:#69686866;
}
.sl_list_single_item{
	padding: 10px 20px;
	height: 10px;
	border-bottom: 0px solid #ccc3;
	background: #fff;
	border-radius: 5px;
}
.calculatorwp_input_feild_small{
	float:left;
	height: 28px;
	border-radius: 4px;
	padding: 5px;
	font-size: 16px;
}
.sl_submit_button{
	padding: 10px 28px;
	margin-bottom: ;
	border-radius: 0px;
	margin-top: 18px;
	color: #fff;
	border: 0px solid #8888;
	background: #404040;
}
.calculatorwp_list_table_index{
	width: 96%;
}
/*
.calculatorwp_ns_single{
	padding: 8px;
	margin: 2px;
	background: #8888;
	border-radius: 8px;
	float: left;
	color: #038803;
}
*/
.lp_com_header_img{
	margin: 10px;
	width: 100px;
	height: 100px;
	opacity:;
	border-radius:50%;
	padding: 0px 20%;
}
.lp_com_header_logo{
	width: 100%;
}
.lp_com_header_img_dash{
	width: 100%;
	margin-top: 10px;
}
.lp_com_header_img_dash_img{
	margin: 10px;
	width: 130px;
	height: 130px;
	opacity:;
	border-radius:50%;
	padding: 0px 20%;
}
.lp_com_header{
	background-color: #fff;
	color: #333;
	width: 90%;
	border-bottom: 1px solid #c2c4c280;
	padding: 8px 12px !important;
	border-radius: 15px;
	cursor: pointer;
	background: #fff;
	border-radius: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.lp_com_top_parent{
	float: left !important;
	margin: 0px 0px 35px 0px !important;
	width: 20%;
	background: #fff;
	height: 100%;
}
#calculatorwp_mailchimp_api_key{
	width: 98%;
	border: 0px solid #ccc !important;
	color: #323232 !important;
	border-radius: 10px !important;
	padding: 10px 25px !important;
	height: 40px;
	background: #26f0268f !important;
}
#wpbody-calculator {
	padding-bottom: 65px;
	float: left;
	overflow: visible;
	background: #fff!important;
	width: 95% !important;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 8px 0 rgb(151 151 151 / 10%), 0 6px 10px 0 rgb(118 118 118 / 10%) !important;
	margin-top: 30px;
}
.get_mailchimp_description{
	padding: 15px;
	font-size: 13px;
	background: #ffff001c;
	border-radius: 10px;
	width: 95%;
	color: #323232;
}
table.widefat{
	border: 1px solid #959595 !important;
	border-radius: 10px;
}
.cwp_borrower_wrapper{
	border-radius: 5px;
	border: 0px solid #d3d3d39e;
	background: #fff;
	padding: 30px;
	overflow: auto;
}
.calculatorwp_client_acc_edit, .calculatorwp_clientaccount_add, .calculatorwp_clientloans_index, .calculatorwp_clientloans_process, .calculatorwp_clientloans_goal_info, .calculatorwp_clientloans_more_loan_info, .calculatorwp_loansettings_index, .calculatorwp_loansettings_edit{
	background: #fff;
	padding: 25px;
	margin-top: 0px;
	overflow: auto;
	border-radius: 0px;
	border: 0px solid #d3d3d39e;
}
.calculatorwp_title_feild_app{
	font-size: 13px;
}
.calculatorwp_title_feild_app > td{
	padding: 10px 30px 10px 15px;
	border-bottom: solid 1px #ccc5;
}
#CalculatorwpLoansettingMaxPeriodNumber{
	float: left;
	width: 400px;
}
.sm_interest{
	background: #fff;
}
.render-container-submit-button{
	background: #323232;
	color: #fff;
	padding: 5px 20px;
	border-radius: 10px;
}
.calculatorwp_list_table_frontend{
	background: #fff;
	border-radius: 18px;
	padding: 8px;
	border: 0px solid #8882;
}
.sm_admin_link{
	background-color: #06b608c8;
	color: #fff;
	padding: 5px 10px;
	border-radius: 10px;
	text-decoration: none;
	margin-left: 10px;
}
.calculatorwp_list_table, .calculatorwp_list_table_frontend, .calculatorwp_list_notes{
	display:;
}
.calculatorwp_main_section_click{
	float: left;
	border-radius: 0px;
	padding: 8px 29px;
	margin-right: 3px;
	width: 18%;
	cursor: pointer;
}
.calculatorwp_main_section_wrap_click{
	padding: 8px 8px 20px 8px;
	overflow: auto;
	border-radius: 10px;
}
.calculatorwp_main_title_shortcode, .calculatorwp_list_table_dd,.calculatorwp_list_table_frontend,.calculatorwp_list_notes{
	margin: 10px;
	border-radius: 0px;
	width: 90%;
}
.sl{
	float: right;
	background-color: #8EFE8D;
	border: 0px;
	color: #333;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 80px;
	border: 0px;
  }

.sl_manage_from_side_wrap{
	width: 100%;
	height: 100%;
	background-color: #33333350;
	position: fixed;
	left: 0px;
	top: 0px;
	padding-left: 20%;
	display: ;
	z-index: 1000000;
}
.sl_manage_from_side_inner{
	width: 88%;
	background-color: #fff !important;
	float: right;
	position: fixed;
	right: 0px;
	top: 0px;
	padding-top: 30px;
	height: 100%;
	padding-left: 20px;
	box-shadow: 0 5px 8px 0 rgb(151 151 151 / 10%), 0 6px 10px 0 rgb(118 118 118 / 10%) !important;
	overflow: auto;
}
.sl_forms_menu_top {
  width: 100%;
  overflow: auto;
}
.sl_form_inner_close {
	float: right;
	margin: 20px 50px 20px 3px;
	border-radius: 0px;
	background-color: #cccccc80;
	border: 0px solid #ccc9;
	padding: 8px 15px;
	cursor: pointer;
}

