
.calculatorwp_close_recipient_class, .calculatorwp_close_url_class, .calculatorwp_close_args_class{
	cursor:pointer;
}
.calculatorwp_menu_item_a{
	padding:20px;
	color:#fff;
	text-decoration:none;
}

#calculatorwp_webhook_tags{
	float:left;	
	padding:60px 50px;
	background:#fff;
	margin-top:20px;
	border-radius:5px;
}

#calculatorwp_webhook_input{
	float: left;
	padding: 30px;
	width: 60%;
	background: #fff;
	border: 1px solid #80808030;
	border-radius: 15px;
}

.adienienti_tag_copier_body {
	cursor: pointer;
}
.calculatorwp_loan_tags, .calculatorwp_more_tags{
	display:none;
}
#right_calculatorwp_menu_item{
	float:right !important;
}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  box-shadow: none;
}
#final input[type=submit]{
	padding:10px 30px;
	border-radius:5px;
	background-color:#05370699;
	color:#fff;
	border:0px;
 }
 code:active {
	 border:1px red solid;
 }